.btn {
    /* width: 10%; */
    padding: 2.5em 5em;
    border-radius: 10px;
    border: 2px solid black;
    position: absolute;
    background-color: green;
    left: 35%;
    top: 5%;
    color: white;
    font-size: 20px;
}

div {
    border: 3px solid black;
    position: absolute;
    top: 5%;
    right: 10%;
    border-radius: 10px;
    font-size: 20px;
    padding: 2.5em 5em;
    background-color: red;
    color: white
}

.card {
position: absolute;
    top: 20%;
    left:37%;
}

body {
    background-color: lightgreen;
}